
<%- include('include/_header') %>

    <!-- Main Site -->
   
        <main id="site-main">
            <div class="container">
            <div class="home">
                <a href="/" class="home-link"><i class="fas fa-home fa-2x"></i> Home/Tickets list</a>
            </div>
                <div class="form-title text-center">
                    <h2 class="text-dark" style="font-size: 24px;margin-top: -15px;">New Request</h2>
                    <span class="text-light">Use this form to create a new request<br>Once submitted, the new request
                         will be emailed to registered team members for review and action.</span>
                </div>

        

                <!-- add form -->
                <%- include('include/_form') %>

            </div>
            
        </main>
      
        
   
        <%- include('include/_footer') %>
            <!-- /include footer -->


  