<!-- include header -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> LMS TaskTrack Management</title>

    <link rel="icon" href="/img/favicon-16x16.png" type="image/png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
        integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA=="
        crossorigin="anonymous" />
    
    <link rel="stylesheet" href="/css/style.css">
    <script src="js/index.js"></script>
    <script src="js/form.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    

</head>

<body>

    <!--Header-->
    <header id="header">
        <nav>
            <div class="container">
                <div class="text-center">
                    <a href="/" class="nav-brand text-light" style="color: white;"> TaskTrack  Management</a>
                </div>
            </div>
        </nav>

 
        <div class="dashboard-icon">
            <a href="/user">
                <i class="fas fa-chart-bar fa-2x"></i>
                <span>MongoDB Dashboard</span>
            </a>
        </div>
        <div class="submit_ticket">
           <a href="/add-request" class="submit_ticket_link">
                <i class="fas fa-ticket-alt fa-2x"></i>
                <span>Submit a ticket</span>
           </a>
        </div>
        

    </header>
 

    </div>
    </main>